body {
  text-align: center;
  font-family: helvetica;
}

div.heading {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
}

a {
  font-size: 18px;
  color: white;
}

footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}

footer p {
  float: left;
  font-size: 11px;
}
footer nav {
  margin-left: 70px;
  padding-left: 30px;
}
